body{
	background:#f0f0f0;
}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background: url("../image/screen4.jpg") no-repeat ;

}
#head{
	padding-top:30px;
    height: 100px;
    border: 1px solid;
    margin-bottom:5px;
    opacity:1;

}
#head-link{
     height: 30px;
     line-height: 30px;
     padding-left: 10px;
     padding-right: 10px;
    
   
     margin-bottom:5px;
     clear: both;
}

#content{
     width: 82%;
     min-height: 800px;
    
     float:left;
     margin-left: 5px;
     margin-right: 5px;
     margin-bottom: 5px;
}
#right{
     width: 15%;
     min-height: 800px;
     
     float:right;
     margin-bottom: 5px;
}
#right-content{
	 width:100%;
	 min-height: 100px;
}

table{
	border: 1px solid #00ff40;
    width:100%;
    font-size: 12px;
    
}
table td {
	 border: 1px solid #808080;
	 
	height: 100px;
	width: 100px;
	background: white;
}
table td div {
	padding:auto;
	 margin:auto;

	}
a:active {
    background-color: hotpink;
} 
input{
	
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
 	margin-top:10px; 

}


#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
}

#menu ul a{
text-decoration:none;
width:160px;
float:left;
background:#000;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
}

#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}
 
#menu ul li{
display:inline;
}
 
#menu ul a{
text-decoration:none;
width:160px;
float:left;
background:#8080ff;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
}
*{ margin: 0px; padding: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
.clear{ clear: both;}
.wrapper{ width: 100%; height: 30px; background: #F8F8F8;  }
.main_menu{ background: #00A69B; margin-top: 30px;}
.main_menu>ul>li{ float: left;padding: 11px 27px; position: relative; border-right: 1px dotted #ACACAC;}
.main_menu>ul>li:last-child{ border-right: none;}
.main_menu>ul>li>ul{ display: none; position: absolute; background: #00A69B;top: 41px;width: 198px; left: 0px;}
.main_menu>ul>li:hover ul{ display: block;}
.main_menu ul li:hover{ background: #5F5C5C; transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding: 5px 10px;}
.main_menu>ul>li>ul>li{ border-bottom: 1px dotted #ACACAC;}
#btnSee{
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00;
	margin-bottom:10px;
	width: 140px;
	
}
b{
	    float: left;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 36px solid #c5a500;
}
figure{
   display: block;
    overflow: hidden;
    border-bottom: 3px solid #fdd504;
}
h2{
	float: left;
    padding: 12px 20px 8px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}
b{
	float: left;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 36px solid #c5a500;
}
}
